/*!
* Theme CSS 
*/

textarea:focus, input[type="text"]:focus,textarea[type="text"]:focus,   input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,  input[type="color"]:focus, .uneditable-input:focus, .form-control:focus {  
box-shadow: none;
outline: none;
}
a, a:hover {
	color: #3498db;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	line-height: 1.6em;
	font-size: 16px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}
h1 {
	font-size: 2.4em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.1em;
}
img {
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: auto;
	max-width: 100%;
}

.navbar-default {
	font-size: 14px;
}
.navbar-default .navbar-nav>li>a {
	color: #464646;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	color: #3498db;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .dropdown-menu>li>a:hover {
	background-color: transparent;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.navbar-collapse {
		padding-right: 0;
	}
	.navbar-collapse {
		float: right;
	}
}
.navbar-brand {
	padding: 0 0 0 15px;
}
.navbar-toggle {
	margin-top: 17px;
}

.dropdown-menu {
	padding: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-top: none;
	font-size: 16px;
}
/*
.navbar-default .navbar-toggle {
border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #3498db;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: ##3498db;
	color: #fff;
}
.navbar-default .navbar-nav>.dropdown>a .caret, .navbar-default .navbar-nav>.dropdown>a:hover .caret {
	border-top-color: #fff!important;
	border-bottom-color: #fff!important;
}
*/
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .dropdown-menu>li>a:hover {
	background-color: #3498db;
}
.dropdown-menu>li>a {
	padding: 15px 20px;
}
.content-info {
	min-height: 50px;
}
aside.sidebar {
	margin-top: 20px
}
.sidebar .widget {
	margin-bottom: 40px;
}
.sidebar .widget ul {
	list-style: none;
	padding: 0;
}
.sidebar .widget ul li {
	line-height: 2em;
}

/*
.btn-primary {
	background-color: ##3498db;
	border-color: #229653;
}
.btn-info {
	background-color: #2C3E50;
	border-color: #1E2A36;
}
.btn-info:hover {
	background-color: #273646;
	border-color: #273646;
}

.btn-primary:hover {
	background-color: #229653;
	border-color: #229653;
}
.home section .btn-lg {
	width: 150px;
}
h1 {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-weight: 500;
}
.lead {
	font-size: 20px;
	color: #333;
	font-weight: 400;
	margin-bottom: 40px;
	line-height: 1.7em;
}
.text {
	margin-bottom: 47px;
}
.home section {
	padding: 100px 0 90px;
}
.home section h2 {
	font-size: 46px;
	margin: 0;
	text-transform: uppercase;
}


/* why */
/*
.home-why {
	background-color: ##3498db;
	color: #fff;
	padding-bottom: 100px;
}
.navbar {
	margin-bottom: 70px;
	font-size: 18px;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-brand a {
	color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.home-why h1 {
	text-align: center;
	font-size: 120px;
	font-weight: 700;
}
.subtitle {
	text-align: center;
	font-size: 26px;
	font-style: italic;
	margin-top: 30px
}
.boxes {
	text-align: center;
	margin-top: 90px;
}
.boxes h3 {
	font-size: 50px;
}
.boxes i {
	font-size: 130px;
}

section.home-proof {
	background-color: ##3498db;
	color: #fff;
	text-align: center;
}
.home-proof h3 {
	font-size: 36px;
	margin: 0;
}

.home-how {
	background-color: #1C2931;
	color: #eee;
}
.home-how h2, .home-what h2 {
	text-align: center;
	padding-bottom: 50px;
}
.home-how h3 {
	margin: 20px 0;
}
.home-how .icon-stack {
	font-size: 26px;
}
.home-how .icon-stack .icon-stack-base {
	font-size: 4em;
	color: ##3498db;
}
.home-how .icon-stack {
	width: 4em;
	height: 4em;
	line-height: 4em;
	vertical-align: -45%;
}
.stack {
	margin-bottom: 80px;
}
.stack-icon {
	float: left;
}
.stack-text {
	padding-top: 5px;
	margin-left: 145px;
}
.stack-text h3 {
	margin: 0 0 15px;
}
.home-what {
	background-color: #252525;
}


.home-item h2 {
	padding-bottom: 40px;
	color: ##3498db;
}



.home-kb {
	background-color: #f4f4f4;
	color: #444;
}
.home-kb h2, .home-kb .lead {
	color: #444;
}


.home-ticket {
	background-color: #fff;
}




.content-info {
	background-color: #181818;
	padding: 50px 0;
	color: #ddd;
}
.content-info p {
	margin: 0;
}
.content-info i {
	margin: 0 20px;
}
.copyright {
	font-size: 20px;
	padding-top: 12px;
}
*/