
/* ==========================================================================
   Document Layout
   ========================================================================== */

#pado-main:before, #pado-main:after {
  display: table;
  content: " ";
}
#pado-sidebar {
  width: 30%;
  float: left;
  display: block;
}
#pado-main, #pado-sidebar {
  overflow: hidden;
}
/* ==========================================================================
   Document Page Sidebar
   ========================================================================== */

#pado-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#pado-sidebar li {
  padding: 0 0 0 5px;
  border-radius: 3px;
  line-height: 1em;
}
#pado-sidebar li a {
  padding: 15px 0;
}
#pado-sidebar li a {
  display: block;
}
#pado-sidebar li:hover a, #pado-sidebar li:hover i {
  color: #fff;
}
#pado-sidebar .sidebar_cat_title,
#pado-sidebar .sidebar_doc_title {
  margin: 0;
}
#pado-sidebar .sidebar_doc_title {
  padding: 0 0 0 22px;
}
#pado-sidebar a, #pado-sidebar a:hover {
  text-decoration: none;
}
.sidebar_cat_title a {
  cursor:pointer;
  color: #222;
  font-weight: 700;
}
li.sidebar_cat_title:hover {
  background-color: #222;
}
.sidebar_cat_title i {
  float: left;
  margin-top: 15px;
  color: #222;
}
.sidebar_cat_title i::before {
    content: "\e800";
}
.open_arrow .sidebar_cat_title i::before {
    content: "\a802";
}

/* Counters in sidebar */
#pado-sidebar > ul {
    counter-increment: nav-headline;
}
.sidebar_cat_title a::before {
    content: counter(nav-headline);
    float: right;
    margin-right: 15px;
}

.sidebar_doc_title {
    counter-increment: nav-article;
}
.sidebar_doc_title > a::before {
    content: counter(nav-headline) "." counter(nav-article);
    float: right;
    margin-right: 15px;
}

/* ==========================================================================
   Document Page Content
   ========================================================================== */

#pado-content {
  width: 67%;
  float: right;
  margin-top: 30px;
}
article.document {
  border: none;
}
article.document .wp-post-image {
  margin-bottom: 30px;
}
.pado-section-heading {
  margin-top: 0;
}
.pado-back-top {
   margin: 2em 0 4em;
   text-align: center;
}
.pado-back-top a {
  text-decoration: none;
   color: /*@grayLighter{*/#ccc/*}*/;
}
.pado-back-top .pado-icon-angle-up {
   display: block;
}
.pado-back-top a:hover {
    text-decoration: none;
}

/* Post Counters */
#pado-content {
  counter-reset:section;
  padding-bottom: 600px;
}
.pado-section-heading {
  counter-reset:subsection;
    padding-bottom: 3em;
    padding-top: 2em;
    text-align: center;
}
.pado-section-heading:before {
  color: white;
  display: inline-block;
  min-width: 2em;
  min-height: 2em;
  border-radius: 4px;
  line-height: 2em;
  text-align: center;
  margin-right: 0.5em;
  counter-increment:section;
  content: counter(section);
}
.pado-post-heading:before {
  counter-increment:subsection;
  content:counter(section) "." counter(subsection) " ";
}
.pado-post-heading {
  margin: 0 0 30px;
  padding-bottom: 30px;
  font-weight: 600;
  border-bottom: solid 1px #ddd;
}
.pado-post-heading::before {
  color: /*@grayLighter{*/#ccc/*}*/;
  float: left;
  width: auto;
  margin-right:15px;
}

/* Sharing Anchors */
.pado-sharing-link {
    float: right;
}
.pado-sharing-link i {
    color: /*@grayLighter{*/#ccc/*}*/;
}
.pado-section-heading .pado-sharing-link i {
    font-size: 1.25em;
    position: relative;
    top: 0.45em;
}
.document .pado-sharing-link i {
    font-size: 0.8125em;
}
.pado-sharing-link:hover {
    text-decoration: none;
}

.pado-sharing-link {
    visibility: hidden;
}

/* Document Voting */
.pado-votes {
  left: 50%;
  margin-left: -59px;
  margin-top: 50px;
  position: relative;
  top: 0;
}
p.pado-likes, p.pado-dislikes {
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  line-height: 14px;
  padding: 0;
}
p.pado-likes {
  background-color: #94bc1a;
  margin-right: 20px;
}
p.pado-dislikes {
  background-color: #c84848;
}
.pado-likes i, .pado-dislikes i {
  font-size: 14px;
}
.pado-votes .count {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  z-index: 1;
}
a.pado-like-btn, a.pado-dislike-btn {
  color: #fff;
  padding: 13px 3px 14px 0;
  text-decoration: none;
  position: relative;
  top: 17px;
}
a.pado-like-btn:hover, a.pado-dislike-btn:hover {
  color: #fff;
  text-decoration: none;
}
.pado-votes > p > i, .pado-votes > p > span {
  position: relative;
  top: 17px;
}

/* ==========================================================================
   Bootstrap Toottip
   ========================================================================== */

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {
  #pado-sidebar {
    width: 100%!important;
  }
  #pado-content {
    width: 100%!important;
  }
  .video-left .video-content {
    width: 100%!important;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  #pado-sidebar ul {
    margin-right: 25px;
  }
  .pado-section-heading:hover > .pado-sharing-link,
  #pado-content .document:hover .pado-sharing-link {
      visibility: visible;
  }
}

/* ==========================================================================
   Font Icons
   ========================================================================== */

@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?1502788');
  src: url('fontello.eot?1502788#iefix') format('embedded-opentype'),
       url('fontello.woff?1502788') format('woff'),
       url('fontello.ttf?1502788') format('truetype'),
       url('fontello.svg?1502788#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2196930#fontello') format('svg');
  }
}
*/
 
 [class^="pado-icon-"]:before, [class*=" pado-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.pado-icon-music:before { content: '\e80b'; } /* '' */
.pado-icon-angle-up:before { content: '\a804'; } /* 'ꠄ' */
.pado-icon-picture:before { content: '\e803'; } /* '' */
.pado-icon-th-large:before { content: '\e801'; } /* '' */
.pado-icon-link:before { content: '\e80a'; } /* '' */
.pado-icon-thumbs-up:before { content: '\e806'; } /* '' */
.pado-icon-thumbs-down:before { content: '\e807'; } /* '' */
.pado-icon-quote-right:before { content: '\e808'; } /* '' */
.pado-icon-video:before { content: '\e802'; } /* '' */
.pado-icon-chat-empty:before { content: '\e80d'; } /* '' */
.pado-icon-doc-text:before { content: '\e809'; } /* '' */
.pado-icon-folder-empty:before { content: '\e804'; } /* '' */
.pado-icon-folder-open-empty:before { content: '\e805'; } /* '' */
.pado-icon-down-dir:before { content: '\a802'; } /* 'ꠂ' */
.pado-icon-up-dir:before { content: '\a803'; } /* 'ꠃ' */
.pado-icon-right-dir:before { content: '\e800'; } /* '' */
.pado-icon-comment-empty:before { content: '\e80c'; } /* '' */




.item-tag{

  border-radius: 43px;
  text-align: center;
  font-size: 14px;
  width: auto;
  color: #3498db;
  border: 1px solid #3498db;
  margin-right: 9px;
  margin-bottom: 10px;
  padding: 0 25px;
  height: 32px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  background: #3498db;
  color: #fff;
}
.item-tag:hover{
  background: #fdf1b7;
  text-decoration: none !important;
}
.center-tag{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}
