<html>
<head>
	<title>Энциклопедия менеджера</title>
</head>
<body>
	<style>
	body{
		background: #fff;
		width:640px;
		text-align: center;
		margin:0 auto;
	}
	.item{
		display: inline-block;
		vertical-align: top;
		height:200px;
		width:260px;
		margin:20px;
		line-height: 200px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		background: #3498db;
		border: 2px solid #ffffff;
		color:#fff;
		font-size: 25px;
		text-decoration: none;
	}
	.transition {
	  transition: 0.2s;
	}
	.item:hover{
		text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
	}
	</style>
	{% for theme in themes %}
		<a href="?id={{theme.id}}" class="item transition">{{theme}}</div>
	{% endfor %}
</body>
</html>