{% load staticfiles %}
{% load order %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Энциклопедия менеджера по продажам компании ДиректЛайн</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=3.9.3">
    <link rel="stylesheet" href="{% static "index_files/dashicons.min.css" %}">
    <link rel="stylesheet" href="{% static "index_files/admin-bar.min.css" %}">
    <link rel="stylesheet" href="{% static "index_files/main.min.css" %}">
    <link rel="stylesheet" href="{% static "index_files/app.css" %}">
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script>
        window.jQuery || document.write('<script src="{% static "index_files/jquery-1.10.2.min.js" %}"><\/script>')
    </script>
    <script type='text/javascript' src="{% static "index_files/modernizr-2.6.2.min.js" %}"></script>
    <style text="text/css" id="document-style-css">
        .sidebar_doc_title a,
        .sidebar_doc_title a:visited,
        .pado-section-heading,
        .pado-back-top a:hover,
        .pado-sharing-link:hover i {
            color: #3498db
        }
        .sidebar_doc_title:hover,
        .pado-section-heading:before {
            background-color: #3498db
        }
        .document-section-heading {
            font-size: 36px;
        }
    </style>
    <style type="text/css" media="print">
        #wpadminbar {
            display: none;
        }
    </style>
    <style type="text/css" media="screen">
        html {
            margin-top: 32px !important;
        }
        * html body {
            margin-top: 32px !important;
        }
        @media screen and ( max-width: 782px) {
            html {
                margin-top: 46px !important;
            }
            * html body {
                margin-top: 46px !important;
            }
        }
    </style>
    <style type="text/css" title="dynamic-css" class="options-output">
        dovy {
            color: #ffffff;
        }
        .good{
            color: #fff !important;
            border: 1px solid #8dcf3f !important;
            background: #78b336 !important;
        }
        .switcher-bar,
        .header-btn.purchase-btn a:hover {
            background-color: #ffffff;
        }
        .switcher-bar,
        .logo,
        .header-btn a {
            border-color: #e6e6e6;
        }
        .test {
            color: #e6e6e6;
        }
        .logo.textual a,
        .header-btn.launchDemo-btn a,
        .header-btn.launch-demo-btn a,
        .header-btn .fa,
        .product-switcher a,
        .product-demo a,
        .header-btn.purchase-btn a:hover * {
            color: #9b9b9b;
        }
        .product-switcher a,
        .product-switcher a:hover i,
        a.product:hover .title {
            color: #3498db;
        }
        .preloading-icon,
        .header-btn a:hover,
        .header-btn.current a,
        .header-btn.purchase-btn a {
            background-color: #3498db;
        }
    </style>
</head>

<body class="home page page-template page-template-template-full-php logged-in admin-bar no-customize-support">

    <!--[if lt IE 8]><div class="alert alert-warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div><![endif]-->
<script type="text/javascript">
    PADO = {"base_url":"/"};
</script>
    <style text="text/css"id="document-style-css">
.sidebar_doc_title a, .sidebar_doc_title a:visited, .pado-section-heading, .pado-back-top a:hover, .pado-sharing-link:hover i { color: #3498db}
.sidebar_doc_title:hover, .pado-section-heading:before { background-color: #3498db}
.document-section-heading {font-size: 36px;}
</style>

    <div class="wrap container" role="document">
        <div class="content row">
            <div class="main col-sm-12" role="main">
                <a href="/"><img src="{% static "index_files/logo.jpg" %}"></a>
                <h1 style="width: auto; display: inline-block; font-size:1.6em; margin-top: 24px; margin-left: 30px; vertical-align: top;">Энциклопедия менеджера - {{theme}}</h1>
                <div id="pado-main">
                    <div id="pado-sidebar">
                        {% regroup all by cat as cat_list %}
                        {% for ct in cat_list %}
                        <ul>
                            <li class="sidebar_cat_title">
                                <i class="pado-icon-right-dir"></i><a>{{ ct.grouper }}</a>
                            </li>
                            
                            {% for item in ct.list %}
                                <li class="sidebar_doc_title"><a href="#document-{{item.id}}">
                                    <i class="pado-icon-doc-text"></i> {{item.header}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}

                    </div>

                    <div id="pado-content">
                    {% regroup all by cat as cat_list %}
                        {% for ct in cat_list %}
                        <div id="cat-{{ct.grouper.id}}">
                            <h2 class="pado-section-heading">
                                <a href="#cat-{{ct.grouper.id}}" class="pado-sharing-link" title="Ссылка на эту категорию">
                                    <i class="icon pado-icon-link"></i>
                                </a>
                                <a name="#cat-{{ct.grouper.id}}"></a>
                                {{ct.grouper}}
                            </h2>
                            {% for item in ct.list %}
                            <article id="document-{{item.id}}" class="document type-pressapps_document status-publish clearfix">
                                <h3 class="pado-post-heading">
                                    <a href="#document-{{item.id}}" class="pado-sharing-link" title="Ссылка на этот скрипт">
                                        <i class="icon pado-icon-link"></i>
                                    </a>
                                    <!--<a name="document-{{item.id}}"></a>-->
                                    {{item.header}}
                                </h3>

                                <div class="document-content">
                                    <p>{{item.text|linebreaks|safe}}</p>
                                </div>
                                <div class="center-tag">
                                    {% if item.isis %}
                                        {% for item in ct.list %}
                                        <a href="#document-{{item.id}}" class="item-tag">{{item.tag_name}}</a>
                                        {% endfor %}
                                    {% endif %}
                                    {% for tag in item.links.all %}
                                    <a href="#document-{{tag.id}}" class="item-tag">{{tag.tag_name}}</a>
                                    {% endfor %}
                                    
                                </div>
                                
                                <div class="center-tag">
                                    {% for tag in item.links_success.all %}
                                    <a href="#document-{{tag.id}}" class="item-tag good">{{tag.tag_name}}</a>
                                    {% endfor %}
                                </div>
                                <hr>
                                
                            </article>
                            {% endfor %}
                        </div>
                        {% endfor %}


                    </div>

                </div>

            </div>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->

    <footer class="content-info container" role="contentinfo">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="{% static "index_files/default.css" %}">
    <link rel="stylesheet" href="{% static "index_files/perfect-scrollbar.min.css" %}">
    <script type='text/javascript' src="{% static "index_files/admin-bar.min.js" %}"></script>
    <script type='text/javascript' src="{% static "index_files/jquery.fitvids.js" %}"></script>
    <script type='text/javascript' src="{% static "index_files/scripts.min.js" %}"></script>

    <!--script type='text/javascript' src="{% static "index_files/thickbox.js" %}"></script-->
    <script type='text/javascript' src="{% static "index_files/admin-script.js" %}"></script>
    <script type='text/javascript' src="{% static "index_files/tooltip.min.js" %}"></script>
    <script type='text/javascript' src="{% static "index_files/perfect-scrollbar.min.js" %}"></script>
    <script type='text/javascript' src="{% static "index_files/custom.js" %}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.fitvids').fitVids({
                customSelector: "add-custom-selector"
            });
        });
    </script>
    <script type="text/javascript">
        (function() {
            var request, b = document.body,
                c = 'className',
                cs = 'customize-support',
                rcs = new RegExp('(^|\\s+)(no-)?' + cs + '(\\s+|$)');

            request = true;

            b[c] = b[c].replace(rcs, ' ');
            b[c] += (window.postMessage && request ? ' ' : ' no-') + cs;
        }());
        var hashTagActive = "";
        $("a").click(function (event) {
            if(hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
                event.preventDefault();
                //calculate destination place
                var dest = 0;
                if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                    dest = $(document).height() - $(window).height();
                } else {
                    dest = $(this.hash).offset().top;
                }
                //go to destination
                $('html,body').animate({
                    scrollTop: dest
                }, 500, 'swing');
                hashTagActive = this.hash;
            }
        });
    </script>



</body>

</html>